@media screen and (max-width: 600px) {
    header{
        max-width: 540px;
        margin: 0 auto;
    }
    .nav-menu{
        display: none;
    }
    .toggle-btn{
        display: block;
        font-size: 2.25em;
    }
    .banner-title{
        color: #FFF;
        font-size: 1.375em;
        padding-top: 50px;
    }
    .banner-description{
        max-width: 360px;
        margin: 20px auto;
        color: #FFF;
        font-size: 0.875em;
        line-height: 1.3125;
        font-weight: 400;
    }
    .search-options{
        max-width: 360px;
        margin: 0 auto;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .search{
        margin: 10px;
    }
    input{
        border-radius: 8px;
        background: #FFF;
        padding: 10px;
        border: 0;
        width: 255px;
    }
    .select-type{
        border-radius: 8px;
        background: #FFF;
        padding: 10px;
        border: 0;
        width: 255px;
    }
    .banner-btn{
        background-color: #FF5400;
        color: #FFF;
        padding: 10px 15px;
        border-radius: 8px;
        border: 0;
        font-weight: 700;
        width: 255px;
    }
    main{
        max-width: 540px;
        margin: 30px auto;
    }
    .popular-tour{
        flex-direction: column;
        gap: 50px;
    }
    .popular-tour-img img{
        width: 100%;
    }
    .destination .general-description{
        max-width: 100%;
        margin: 0 auto;
    }

    .first-row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
        gap: 10px;
    }
    .second-row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .third-row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .card img{
        height: 335px;
        width: 100%;
    }
    .why-choose{
        margin-top: 30px;
        text-align: center;
    }
    .why-choose .general-description{
        max-width: 100%;
        margin: 0 auto;
    }
    .why-choose-card{
        margin-top: 30px;
        flex-direction: column;
    }
    .why-choose-card-description{
        width: 350px;
        margin-top: 10px;
        color: #5A5A5D;
    }
    .testimonial{
        margin-top: 30px;
        text-align: center;
    }
    .testimonial .general-title{
        max-width: 100%;
    }
    .testimonial .general-description{
        max-width: 100%;
        margin: 0 auto 30px;
    }
    .testimonial-card-container{
        flex-direction: column;
        gap: 10px;
    }
    .testimonial-card{
        max-width: 100%;
        text-align: left;
    }
    .perfect-place{
        flex-direction: column;
        margin-top: 30px;
        gap: 30px;
    }
    .newsletter{
        flex-direction: column;
        margin-top: 30px;
    }
    .newsletter-content .primary-btn{
        margin-bottom: 20px;
    }
    .newsletter-img img{ 
        width: 100%;
    }
    .offer-text{
        width: 40%;
        transform: rotate(-19.628deg);
        top: 64%;
        left: 58%;
    }
    .footer{
        padding: 100px 30px;
    }
    .footer-description{
        max-width: 100%;
        margin: 0 auto;
    }
}