@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&family=Poppins:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.secondary-color{
    color: #FF5400;
}
.general-title{
    color: #131318;
    font-size: 2.5em;
    font-weight: 800;
}
.general-description{
    color: rgba(19, 19, 24, 0.70);
    line-height: 1.625em;
    margin: 15px 0;
}
.secondary-description{
    color: #131318;
    font-size: 1em;
    font-weight: 300;
}
.primary-btn{
    background-color: #FF5400;
    color: #FFF;
    font-size: 1em;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 8px;
    border: 0;
    font-weight: 700;
}






header{
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo h3{
    font-size: 2.25em;
    font-weight: 800;
}
.nav-menu ul{
    display: flex;
    align-items: center;
}
.nav-menu ul li{
    list-style: none;
    margin-right: 25px;
}
.nav-menu ul li a{
    color: #424247;
    text-decoration: none;
}
.color-menu{
    margin-right: 20px;
    color: #FF5400;
    text-decoration: none;
}
.toggle-btn{
    color: #FF5400;
    cursor: pointer;
    display: none;
}


.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
    text-align: center;
    height: 500px;
    margin-top: 30px;
}
.banner-title{
    color: #FFF;
    font-size: 4em;
    padding-top: 100px;
}
.banner-description{
    max-width: 676px;
    margin: 20px auto;
    color: #FFF;
    line-height: 1.625;
    font-weight: 400;
}
.search-options{
    max-width: 645px;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    margin: 10px;
}
input{
    border-radius: 8px;
    background: #FFF;
    padding: 10px;
    border: 0;
}
.select-type{
    border-radius: 8px;
    background: #FFF;
    padding: 10px;
    border: 0;
}
.banner-btn{
    background-color: #FF5400;
    color: #FFF;
    padding: 10px 15px;
    border-radius: 8px;
    border: 0;
    font-weight: 700;
}



main{
    max-width: 1180px;
    margin: 80px auto;
}
.popular-tour{
    display: flex;
    gap: 50px;
}

.destination{
    text-align: center;
    margin-top: 80px;
}
.destination .general-description{
    max-width: 70%;
    margin: 0 auto;
}


.first-row{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
}
.second-row{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
}
.third-row{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;
}
.card{
    position: relative;
    display: inline-block;
}
.card img{
    display: block;
}
.title{
    position: absolute;
    color: #FFF;
    font-size: 1.75em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.why-choose{
    margin-top: 80px;
    text-align: center;
}
.why-choose .general-description{
    max-width: 70%;
    margin: 0 auto;
}
.why-choose-card{
    margin-top: 50px;
    display: flex;
    gap: 24px;
}
.hand-picked{
    max-width: 573px;
    padding: 25px;
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.hand-picked img{
    width: 64px;
    height: 64px;
}
.world-class-service{
    max-width: 573px;
    padding: 25px;
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.world-class-service img{
    width: 64px;
    height: 64px;
}
.best-price{
    max-width: 543px;
    margin: 24px auto 0;
    padding: 25px;
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.why-choose-card-title{
    margin-top: 25px;
    color: #131318;
    font-size: 1.5em;
}
.why-choose-card-description{
    width: 486px;
    margin-top: 10px;
    color: #5A5A5D;
}


.testimonial{
    margin-top: 80px;
}
.testimonial .general-title{
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}
.testimonial .general-description{
    max-width: 60%;
    margin: 0 auto 30px;
    text-align: center;
}

.testimonial-card-container{
    display: flex;
    justify-content: space-between;
}
.testimonial-card{
    max-width: 32%;
    padding: 20px;
}
.first-card{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.second-card{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.third-card{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.testimonial-card .why-choose-card-description{
    max-width: 100%;
}
.testimonial-img{
    width: 100px;
    
    
    
}
.testimonial-img img{
    width: 100%;
    height: 100px;
    border: 2px solid #131318;
    border-radius: 50%;
    padding: 5px;
}


.perfect-place{
    display: flex;
    margin-top: 80px;
    gap: 30px;
}
.perfect-place-content li{
    color: #131318;
    line-height: 1.625em;
}
.perfect-place-video iframe{
    border-radius: 16px;
}


.newsletter{
    display: flex;
    gap: 24px;
    margin-top: 80px;
}
.newsletter-content{
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 0 30px;
}
.line{
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 24px auto;

}
.newsletter-content input{
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px 20px;
    color: rgba(19, 19, 24, 0.30);
}
.newsletter-content .primary-btn{
    width: 100%;
}
.newsletter-img{
    position: relative;
    display: inline-block;
}
.newsletter-img img{ 
    display: block;
}
.offer-text{
    width: 324px;
    position: absolute;
    text-align: center;
    color: #FFF;
    background-color: #FF5400;
    border-radius: 16px;
    padding: 20px;
    transform: rotate(-19.628deg);
    top: 66%;
    left: 51%;
}


.footer{
    max-width: 1440px;
    margin: 0 auto;
    background: rgba(19, 19, 24, 0.05);
    padding: 100px 0;
}
.footer-container{
    max-width: 1170px;
    margin: 0 auto;
}
.footer-head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2em;
}
.footer-description{
    color: #5A5A5D;
    text-align: center;
    line-height: 1.625em; 
    max-width: 70%;
    margin: 0 auto;
}
.icon{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0;
}
.icon img{
    width: 40px;
}
.footer .secondary-description{
    text-align: center;
}